/*Global CSS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a2345+0,03060d+100 */
    background: #0a2345; /* Old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background: -moz-linear-gradient(top, #0a2345 0%, #03060d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0a2345 0%,#03060d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0a2345 0%,#03060d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2345', endColorstr='#03060d',GradientType=0 ); /* IE6-9 */
    
    /* Google Font Family*/
    font-family: 'Montserrat', sans-serif;
}
.no-padding{
    padding: 0;
}

/* Header Section */

.header-spaceing{
    padding: 60px 0px;
}
.menu{
    position: relative;
}
/*
.container a:after {
  content: '';
  position: absolute;
  background: #FF5252;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}
*/

.button_container {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #2a5ea4;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2a5ea4;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*banner Section*/

.baner-section{
    text-align: center;
}
.baner-section h1{
    color: #fff;
    font-size: 48px;
}
.baner-section h1 span{
    color: #2a5da3;
    font-weight: 500;
}
.baner-section p{
    color: #2e66b2;
    font-size: 18px;
    margin-top: 15px;
}
.custom-button{
    margin-top: 60px;
    padding: 8px 25px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    border: 1px solid#153b6d;
    border-radius: 30px;
    background: transparent;
    position: relative;
    overflow: hidden;
}
.custom-button::before{
    position: absolute;
    content: "";
    background: #295b9f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: scale(0);
}
.custom-button:hover::before{
    transform: scale(1);
}

/*Apps Screen Section*/

.apps-screens-section{
    padding-top: 200px;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
}
.apps img{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.apps:hover img{
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

/*Feature Section*/

.features-section{
    padding: 30px 0px;
    background-image: url(../images/headphone.png);
    background-repeat: no-repeat;
    background-position: -50% 50%;
}
.features{
    padding: 200px 0px;
}
.features h1{
    color: #fff;
    font-size: 36px;
}
.features h1 span{
    color: #2a5da3;
    font-weight: 500;
}
.features p{
    color: #2e66b2;
    font-size: 14px;
    margin: 50px 0px 0px 0px;
}

/*feature content section*/

.feature-content-section{
    padding-bottom: 300px;
    background-image: url(../images/warstwa1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.feature-heading h1{
    padding-bottom: 100px;
    text-align: center;
    font-size: 48px;
    color: #fff;
}
.feature-heading h1 span{
    color: #2a5da3;
    font-weight: 500;
}
.features-content-part h3{
    color: #fff;
    font-size: 24px;
    margin: 20px 0px
}
.features-content-part p{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.speacing{
    padding-bottom: 70px;
}

/*Features Perspective Section*/

.features-perspective-section{
    background-image: url(../images/graphic.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    padding-bottom: 200px;
}
.features-perspective-section img{
    padding-bottom: 30px;
}
.features-perspective-section p{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

/* Testimonial Section */
.testimonial{
    padding-top: 120px;
}
.carousel-caption{
    top: 20%;
}
.carousel-caption h3{
    color: #66778e;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 40px;
}
.carousel-caption ul li{
    list-style: none;
    display: inline;
}
.carousel-caption ul li img{
    margin-right: 15px;
    border-radius: 50%;
}
.carousel-indicators li{
    margin-bottom: 40px;
    border: 1px solid#213a61;
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%
}
.carousel-indicators li.active{
    background-color: #335a95;
}
.designation{
    color: #213a61;
}

/* Download App Section */

.download-apps-section{
    padding: 120px 0px;
}
.apps-heading h2{
    color: #fff;
    font-size: 36px;
    padding-bottom: 40px;
}
.apps-heading p{
    color: #66778e;
    font-size: 14px;
    line-height: 30px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* Footer Section */

footer{
    padding: 50px 0px;
}
.custom-border{
    border-top: 1px solid#0c1524;
}
footer ul{
    margin-top: 50px;
}
footer .nav .nav-item a{
    color: #14396a;
    font-size: 14px;
    font-weight: 700;
    padding-right: 20px;
    
}
footer .nav .nav-item a:hover{
    text-decoration: none;
}
.copyright{
    color: #14396a;
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
}
.copyright a{
    color: #14396a;
}
.copyright a:hover{
    text-decoration: none;
}























